body {
  padding: 0;
  margin: 0;
  color: #121129;

  background-image: url('/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}